@import "../abstracts/mixins";

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  font-size: 100%;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;

  color: $color-dark-l;

  font-family: Georgia, sans-serif;
}

.h2 {
  @include font-size(44, 400, 130%, );

  @include tablet {
    @include font-size(25, 400, 130%, 0.06);
    text-align: center;
  }
}

.h3 {
  @include font-size(35, 400, 130%, 0.06);

  @include tablet {
    @include font-size(25, 400, 130%, 0.06);
    text-align: center;
  }
}

.h4 {
  @include font-size(20, 400, 115%, 0.06);

  @include tablet {
    @include font-size(15, 400, 110%, 0.06);
  }
}

.h5 {
  @include font-size(15, 400, 110%, 0.06);
}

p {
  color: $color-dark-xl;
}

.paragraph-l {
  margin: 0;

  @include font-size(15, 400, 160%,);

  @include tablet {
    text-align: justify;
  }
}

.paragraph-s {
  margin: 0;

  font-style: italic;

  @include font-size(12, 400, 150%,);
}

a {
  color: $color-dark-3xl;
  text-decoration: none;
}

button {
  border: 0;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;

  @include desktop {
    padding: 0 30px;
  }

  @include tablet {
    padding: 0 10px;
  }
}

.main {
  margin-top: -130px;
}

.main-pets {
  margin: 0;

  text-align: center;

  background-color: $color-light-l;
}

.section {
  @include padding-rem(80, 0, 98, 0);

  @include tablet {
    @include padding-rem(45, 0, 40, 0);
  }
}
