body {
    margin: 0;
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

header .container {
    justify-content: space-between;
    align-items: center;
}

.header__right {
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

.sidebar {
    max-width: 400px;
    width: 100%;
    padding: 0 2rem;
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}
