* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #fff;
    background-color: #5b6467;
    background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
    font-family: sans-serif;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    margin-bottom: 5rem;
    background: rgba(255, 255, 255, 0.29);
    backdrop-filter: blur(7.4px);
}

.header h1 {
    font-size: 40px;
    font-weight: 800;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.header__right {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

.header__language-switcher {
    display: flex;
    gap: 1rem;
}

.btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
}

.btn:hover {
  cursor: pointer;
}

.btn-language--en {
    background-image: url('./img/en.svg');
    background-size: cover;
}

.btn-language--de {
    background-image: url('./img/de.svg');
    background-size: cover;
}

.search__input {
  background: none;
  border: 1px solid #4e4e4e;
  padding: 0.5rem;
  border-radius: 4px;
  outline: none;
}

.search__input::placeholder {
  color: #fff;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

.sidebar {
    max-width: 350px;
    width: 100%;
    max-height: 550px;
    padding: 0 2rem 3rem;
    background: rgba(255, 255, 255, 0.29);
    border-radius: 4px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(7.4px);
}

.sidebar__title {
    font-size: 32px;
    margin: 2rem 0;
}

/*Sidebar scroll*/
.sidebar ::-webkit-scrollbar {
  width: 3px;
}

.sidebar ::-webkit-scrollbar-track {
  background: #ccc;
}

.sidebar ::-webkit-scrollbar-thumb {
  background: rgb(83, 83, 83);
}

.sidebar ::-webkit-scrollbar-thumb:hover {
  background: rgb(53, 53, 53);
}

.main {
  margin-bottom: 5rem;
}

.footer {
    background: rgba(255, 255, 255, 0.29);
    backdrop-filter: blur(7.4px);
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
