.button {
  display: inline-block;
  padding: 13px 43px;

  color: $color-dark-3xl;
  font-family: Georgia, sans-serif;

  border: 2px solid $color-primary;
  border-radius: 100px;

  transition: all 0.3s;

  @include font-size(17, 400, 130%, 0.06);

  &--primary {
    background-color: $color-primary;
  }

  &--transparent {
    background-color: $color-light-xl;
  }

  &--circle {
    width: 50px;
    height: 50px;
    padding: 0;

    background-color: transparent;
    border: 2px solid $color-primary;
    border-radius: 50%;
  }

  &:hover {
    background-color: $color-primary-light;
    border-color: $color-primary-light;
    cursor: pointer;
  }

  &:disabled,
  button[disabled] {
    color: $color-dark-s;

    border-color: $color-dark-s;

    pointer-events: none;
  }
}
