.button {
  padding: 13px 43px;

  color: $color-dark-3xl;
  font-family: Georgia, sans-serif;

  border: 2px solid $color-primary;
  border-radius: 100px;

  transition: all 0.3s;

  @include font-size(17, 400, 130%, 0.06);

  &--primary {
    background-color: $color-primary;
  }

  &--transparent {
    background-color: #fff;
  }

  &:hover {
    background-color: $color-primary-light;
    border-color: $color-primary-light;
    cursor: pointer;
  }
}
