.modal-open {
  .modal {
    animation: fadeInAnimation ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    @include desktop {
      width: 100%;
      max-width: 630px;
    }

    @include tablet {
      width: 100%;
      max-width: 240px;
    }
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 101;

  max-width: 900px;
  min-height: 500px;

  background-color: $color-light-s;
  border-radius: 9px;
  transform: translate(-50%, -50%);

  @include desktop {
    min-height: auto;
  }

  &-inner {
    display: flex;
  }

  &__image {
    flex-basis: 64%;

    @include tablet {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      border-radius: 9px;
    }
  }

  &__description-wrapper {
    display: flex;
    flex: 50%;
    flex-direction: column;
    gap: 40px;
    overflow: hidden;
    overflow-y: auto;

    //max-height: 350px;
    //overflow: hidden;
    //overflow-y: auto;
    @include padding-rem(50, 20, 30, 30);

    @include desktop {
      gap: 20px;
      max-height: 500px;

      @include padding-rem(10, 10, 0, 10);
    }

    @include tablet {
      max-height: 500px;
    }
  }

  &__description-text {
    margin: 0;

    font-family: Georgia, sans-serif;

    @include desktop {
      font-size: 13px;
    }

    @include tablet {
      text-align: justify;
    }
  }

  &__description-list {
    margin: 0;
    padding: 0 0 0 15px;

    font-family: Georgia, sans-serif;

    @include font-size(15, 400, 110%, 0.06);

    li {
      margin-bottom: 13px;

      word-break: break-word;

      @include desktop {
        margin-bottom: 7px;
      }

      b {
        font-weight: 700;
      }

      &::marker {
        color: $color-primary;
      }
    }
  }

  &__title {
    margin-bottom: 10px;

    color: #000;

    @include tablet {
      @include font-size(35, 400, 130%, 0.06);
    }
  }

  &__sub-title {
    color: #000;

    @include tablet {
      text-align: center;

      @include font-size(20, 400, 115%, 0.06);
    }
  }

  &-open {
    overflow: hidden;
  }

  &-open .overlay {
    position: fixed;
    z-index: 101;

    visibility: visible;
    opacity: 1;
  }

  &-close {
    position: absolute;
    top: -52px;
    right: -42px;

    @include tablet {
      top: -55px;
      right: -32px;
    }
  }
}

.modal-open .overlay:hover {
  cursor: pointer;
}
