.pagination {
  display: flex;
  gap: 20px;
  justify-content: center;

  &__item--active {
    background-color: $color-primary;
  }

  &__item--first::before {
    content: "<<";
  }

  &__item--prev::before {
    content: "<";
  }

  &__item--next::before {
    content: ">";
  }

  &__item--last::before {
    content: ">>";
  }
}
