.slider {
  position: relative;

  width: 1280px;
  margin: 0 auto;
  padding: 0 40px;

  &-wrapper {
    display: flex;
    gap: 90px;

    @include padding-rem(0, 105, 0 , 105);
  }

  &-slide {
    width: calc(100% / 3);
  }

  &-button-prev {
    position: absolute;
    top: 50%;
    left: 3.2%;

    background: url("/src/assets/icons/icon-arrow.svg") transparent no-repeat center center;
    transform: translateY(-50%);
  }

  &-button-next {
    position: absolute;
    top: 50%;
    right: 3.2%;

    background: url("/src/assets/icons/icon-arrow.svg") transparent no-repeat center center;
    transform: translateY(-50%) rotate(180deg);
  }
}
