.slider {
  position: relative;

  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;

  &-wrapper {
    display: flex;
    gap: 90px;

    @include desktop {
      gap: 40px;
    }

    @include tablet {
      margin-bottom: 20px;
    }
  }

  &-slide {
    width: calc(100% / 3);

    @include desktop {
      width: calc(100% / 2);

      &:nth-child(3) {
        display: none;
      }
    }

    @include tablet {
      width: 100%;

      &:nth-child(2) {
        display: none;
      }
    }
  }

  &-buttons__wrapper {
    display: flex;
    justify-content: space-around;
  }

  &-button-prev {
    position: absolute;
    top: 50%;
    left: 0;

    transform: translateY(-50%);

    @include desktop {
      left: 30px;
    }

    @include tablet {
      position: initial;

      transform: translateY(0%);
    }
  }

  &-button-next {
    position: absolute;
    top: 50%;
    right: 0;

    transform: translateY(-50%) rotate(180deg);

    @include desktop {
      right: 30px;
    }

    @include tablet {
      position: initial;

      transform: translateY(0%) rotate(180deg);
    }
  }
}
