.slider {
  position: relative;

  width: 1200px;
  margin: 0 auto;
  padding: 0 40px;

  &-wrapper {
    display: flex;
    gap: 90px;
  }

  &-slide {
    width: calc(100% / 3);
  }

  &-button-prev {
    position: absolute;
    top: 50%;
    left: 0;

    background: url("/src/assets/icons/icon-arrow.svg") transparent no-repeat center center;
    transform: translateY(-50%);
  }

  &-button-next {
    position: absolute;
    top: 50%;
    right: 0;

    background: url("/src/assets/icons/icon-arrow.svg") transparent no-repeat center center;
    transform: translateY(-50%) rotate(180deg);
  }
}
