.garage {
  display: flex;
  flex-direction: column;
}

.garage__controls {
  order: 1;
}

.cars__list {
  order: 2;
}

.cars__count {

}

.garage .counter {

}

.garage .counter__text {

}

.garage__generate {

}

.bttn {

}

.bttn__generate {

}

.garage .create__car {
  
}