.garage {
  display: flex;
  flex-direction: column;
}

.garage__controls {
  margin-bottom: 5rem;
  order: 1;
}

.cars__list {
  display: flex;
  flex-direction: column;
  order: 2;
}

.cars__count {
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
  font-size: 32px;
}

.garage .counter {

}

.garage .counter__text {

}

.garage__generate {

}

.bttn {
  width: auto;
}

.bttn__start {

}

.bttn__reset {
  
}

.bttn__generate {

}

.bttn__update {
  
}

.garage .create__car {
  margin: 2rem 0;
}

.garage .create__car .bttn {
  width: auto;
}

.create__input {
  padding: 0.5rem 1rem;
}

.pagination__wrapper {
  display: flex;
  gap: 0.5rem;
}