.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.45);
}

.modal {
  position: fixed;
  max-width: 550px;
  width: 100%;
  padding: 2rem;
  text-align: center;
  z-index: 111;
  background: #fff;
  border-radius: 3px;
}

.modal-close {
  position: absolute;
  top: -30px;
  right: -35px;
  border: none;
  padding: 0;
  background: #1b9cfb;
  border-radius: 50%;
  display: flex;
  padding: 4px;
  transition: all 0.3s;
}

.modal-close:hover {
  cursor: pointer;
  background-color: #000;
}

.modal-close:hover svg {
  stroke: #fff;
}

.modal-close svg {
  width: 20px;
  height: 20px;
  stroke: currentColor;
  stroke-width: 1.5;
  transition: stroke .1s;
}