.section-donation {
  background-color: $color-light-l;

  @include padding-rem(83, 0, 98, 0);

  @include tablet {
    @include padding-rem(45, 0, 37, 0);
  }

  &__wrapper {
    display: flex;
    gap: 30px;
    justify-content: center;

    @include desktop {
      flex-direction: column;
      gap: 60px;
      align-items: center;
    }

    @include tablet {
      gap: 40px;
    }
  }

  &__image {
    margin-top: 10px;

    @include desktop {
      order: 2;
      margin: 0;
    }

    img {
      @include tablet {
        max-width: 260px;
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 380px;

    @include tablet {
      gap: 23px;

      align-items: center;
      max-width: 280px;
    }
  }

  &__subtitle {
    @include tablet {
      letter-spacing: 0;
    }
  }

  &__card {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 350px;
    padding: 10px 13px;

    background-color: $color-primary;
    border-radius: 9px;

    transition: all 0.3s;

    &:hover {
      background-color: $color-primary-light;
    }
  }

  &__ico {
    margin-right: 15px;
  }

  &-number {
    color: $color-dark-l;
    font-family: Georgia, sans-serif;
  }

  &__description {
    color: $color-dark-s;
    text-align: justify;
  }
}
