.section-donation {
  background-color: $color-light-l;

  @include padding-rem(83, 0, 98, 0);

  &__wrapper {
    display: flex;
    gap: 30px;
    justify-content: center;

    @include desktop {
      flex-direction: column;
      gap: 60px;
      align-items: center;
    }
  }

  &__image {
    margin-top: 10px;

    @include desktop {
      order: 2;
      margin: 0;
    }
  }

  &__text {
    width: 100%;
    max-width: 380px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__subtitle {
    margin-bottom: 20px;
  }

  &__card {
    display: flex;
    max-width: 350px;
    margin-bottom: 20px;
    padding: 10px 15px;

    background-color: $color-primary;
    border-radius: 9px;

    transition: all 0.3s;

    &:hover {
      background-color: $color-primary-light;
    }
  }

  &__ico {
    margin-right: 15px;
  }

  &-number {
    color: $color-dark-l;
    font-family: Georgia, sans-serif;
  }

  &__description {
    color: $color-dark-s;
  }
}
