.header {
  padding-top: 60px;

  @include desktop {
    padding-top: 30px;
  }

  .logo {
    font-family: Georgia, sans-serif;
    text-align: center;

    transition: all 0.3s;

    &-title {
      @include font-size(32, 400, 110%, 0.06);
      margin-bottom: 10px;

      color: $color-primary;
    }

    @include tablet {
      z-index: 101;

      margin-right: 40px;
    }

    &-subtitle {
      @include font-size(13, 400, 14px, 0.1);
      color: $color-light-xl;
      font-family: Arial, sans-serif;
    }
  }

  .burger-logo {
    display: none;

    visibility: hidden;

    opacity: 0;

    transition: all 0.3s;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__menu.open {
    right: 0;

    max-width: 320px;

    background-color: $color-dark-3xl;
    box-shadow: 0 0 0 9999px rgb(0 0 0 / 50%);
  }

  &__burger {
    position: relative;
    z-index: 105;

    display: none;
    margin-right: 43px;

    transition: 0.5s;

    @include tablet {
      display: block;
    }

    .line {
      display: block;
      width: 30px;
      height: 2px;
      margin: 10px auto;

      background-color: $color-primary;

      transition: all 0.3s ease-in-out;
    }
  }

  .nav {
    &__list {
      display: flex;
      margin: 0;
      padding: 0 0 4px;

      list-style: none;

      @include tablet {
        flex-direction: column;
        gap: 42px;
        align-items: center;
        margin: 190px 39px;
        padding-bottom: 0;
      }
    }

    &__item {
      @include padding-em(0, 36, 0, 0);

      @include tablet {
        padding: 0;
      }
    }

    &__link {
      @include font-size(15, 400, 160%);
      color: $color-dark-s;

      transition: all 0.3s;

      @include tablet {
        @include font-size(32, 400, 160%, 0);
      }

      &:hover {
        color: $color-light-xl;
      }
    }

    &__item:last-child {
      padding: 0;
    }

    &__link.active {
      padding-bottom: 4px;

      color: $color-light-s;

      border-bottom: 3px solid $color-primary;

      @include tablet {
        padding-bottom: 8px;
      }
    }
  }

  @include tablet {
    &-menu__wrapper {
      position: fixed;
      top: 0;
      right: -620px;
      z-index: 100;

      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 620px;
      height: 100%;
      overflow-x: hidden;

      background: var(--color-black);

      transition: 0.5s;
    }
  }

  &-menu__wrapper.open {
    right: 0;

    max-width: 320px;

    background-color: #292929;
    box-shadow: 0 0 0 9999px rgb(0 0 0 / 50%);
  }

  /* PETS PAGE */
  &-pets {
    position: sticky;
    top: 0;

    padding: 30px 0;

    background-color: $color-light-xl;

    .logo {
      &-title {
        color: $color-dark-l;
      }

      &-subtitle {
        color: $color-dark-l;
      }
    }

    .header-menu__wrapper {
      background-color: $color-light-xl;
    }

    .nav {
      &__link {
        color: $color-dark-l;

        &:hover {
          color: $color-dark-3xl;
        }
      }

      &__link.active {
        color: $color-dark-3xl;
      }
    }

    .header__menu.open {
      background-color: $color-light-xl;
    }

    .header__burger .line {
      background-color: #000;
    }
  }
}

.menu-open {
  .logo {
    margin: 0;

    visibility: hidden;

    opacity: 0;
  }

  .burger-logo {
    position: relative;
    top: 30px;
    left: 10px;

    display: block;

    align-self: self-start;

    visibility: visible;

    opacity: 1;
  }

  .header__burger {
    transform: rotateZ(90deg);
  }
}
