.section-help {
  text-align: center;

  &__title {
    margin-bottom: 60px;

    @include tablet {
      margin-bottom: 40px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 120px;
    justify-content: center;
    row-gap: 55px;

    @include desktop {
      gap: 59px;
      row-gap: 55px;

      max-width: 708px;
      margin: 0 auto;
    }

    @include tablet {
      gap: 25px 20px;
      justify-content: flex-start;
      max-width: 300px;
      margin: 0 auto;
    }
  }

  &__ico {
    margin-bottom: 25px;

    @include tablet {
      width: 50px;
      margin-bottom: 20px;
    }
  }

  @include desktop {
    &__item {
      width: 170px;
    }
  }

  @include tablet {
    &__item {
      width: 140px;
    }
  }
}
