.start-screen {
  padding-top: 185px;

  background: url("/src/assets/images/noise_transparent@2x.png"), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 73%), #211f20;

  &__title {
    margin-bottom: 39px;

    color: $color-light-xl;

    @include tablet {
      margin-bottom: 43px;
    }
  }

  &__text {
    flex: 40%;
    margin-top: 170px;

    @include desktop {
      display: flex;
      flex-direction: column;
      max-width: 460px;
      margin-top: 10px;

      .button {
        margin: 0 auto;
      }
    }

    @include tablet {
      align-items: center;
      margin-top: 5px;

      text-align: center;
    }
  }

  &__description {
    margin-bottom: 43px;

    @include desktop {
      margin-bottom: 40px;
    }

    @include tablet {
      text-align: center;
    }
    color: $color-dark-s;
  }

  &__image {
    @include desktop {
      align-self: end;
      max-width: 569px;
    }

    @include tablet {
      max-width: 260px;
    }

    img {
      position: relative;
      top: 5px;

      width: 100%;
    }
  }

  .container {
    display: flex;
    justify-content: space-between;

    @include desktop {
      flex-direction: column;
      gap: 97px;
      align-items: center;
      max-width: 700px;
      margin: 0 auto;
      padding: 0;
    }

    @include tablet {
      max-width: 320px;
      padding: 0 10px;
    }
  }
}
