.car {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.cars__wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.car__control {
  flex: 0 0 10%;
}

.car__select {

}

.car__name {

}

.car__line {
  display: flex;
  width: 100%;
  background: url('./public/img/finish.svg') no-repeat right 44%, url('./public/img/road.svg');
  background-size: 50px, auto;
  overflow: hidden;
}

.car__img {
  width: calc(100% - 150px);
  position: relative;
}

.finish {

}

@keyframes race {
  from {
      transform: translateX(0);
  }

  to {
      transform: translateX(100%);
  }
}

.race {
  animation-name: race;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.car-broken {
  animation-play-state: paused;
}

.car-broken.check {
  background: url(./public/img/check.svg) no-repeat 100px 35px;
  background-size: 40px;
}

