.car {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.cars__wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  order: 2;
}

.car__control {
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
}

.bttn {
  width: 100%;
  padding: 0.8rem 1rem;
  font-size: 19px;
}

.bttn:hover {
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
  color: #fff;
  font-weight: 600;
}

.car__select {

}

.car__remove {

}

.car__start {

}

.car__reset {

}

.car__select {

}

.car__name {
  margin-bottom: 2rem;
}

.car__line {
  display: flex;
  width: 100%;
  background: url('./public/img/finish.svg') no-repeat right 44%, url('./public/img/road.svg');
  background-size: 50px, auto;
  overflow: hidden;
}

.car__img {
  width: calc(100% - 150px);
  position: relative;
}

.finish {

}

@keyframes race {
  from {
      transform: translateX(0);
  }

  to {
      transform: translateX(100%);
  }
}

.race {
  animation-name: race;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.car-broken {
  animation-play-state: paused;
}

.car-broken.check {
  background: url(./public/img/check.svg) no-repeat 100px 35px;
  background-size: 40px;
}

