@import "../assets/styles/abstracts/colors";
@import "../assets/styles/abstracts/fonts";
@import "../assets/styles/base/base";
@import "../assets/styles/components/button";
@import "../assets/styles/components/card";
@import "../assets/styles/layout/header";
@import "../assets/styles/layout/start-screen";
@import "../assets/styles/layout/about";
@import "../assets/styles/layout/pets";
@import "../assets/styles/components/slider";
@import "../assets/styles/layout/help";
@import "../assets/styles/layout/donation";
@import "../assets/styles/layout/footer";
