@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');

.app {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

.header {
  padding: 1.5rem 0;
  background-color: #fff;
  color: #000;
  box-shadow: 0px 3px 5px -3px rgb(0 0 0 / 30%);
  position: sticky;
  top: 0;
  z-index: 10;
}

.header .container {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__logo {}

.header__search {
  max-width: 40%;
  width: 100%;
}

.search__form {
  position: relative;
}

.search__input {
  width: 100%;
  padding: .75rem 3.5rem 0.75rem 1rem;
  border-radius: 10rem;
  transition: 0.4s;
  border: 1px solid #eee;
  font-size: 14px;
  outline: none;
}

.search__bttn {
  position: absolute;
  top: 1px;
  right: 1px;
  padding: 20px;
  margin: 0px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  line-height: 0;
  border-radius: 0 50% 50% 0;
  background: #f7f8fa;
  color: #0bb648;
  border-left: 1px solid #eee;
  background-image: url("../assets/img/search.svg");
  background-size: 45%;
  background-repeat: no-repeat;
  background-position: center center;
}

.header__cart {
  background: #f7f8fa;
  border-radius: 50px;
}

.cart {
  padding: 21px;
  position: relative;
  background-image: url("../assets/img/cart.svg");
  background-size: 45%;
  background-repeat: no-repeat;
  background-position: center center;
}

.cart__counter {
  position: absolute;
  top: -5px;
  right: -5px;
  padding: 5px 7px;
  background-color: #0bb648;
  border-radius: 50%;
  color: #000;
  font-size: 12px;
  line-height: 1;
}

.main {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 3rem 0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  flex: 0 0 25%;
  height: 100%;
  padding: 2rem;
  border: 2px solid #eee;
}

.collection {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem 1rem;
  flex: 1 1 0;
  position: relative;
}

.collection-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.sort-wrapper {
  padding: 1rem 0;
  border-bottom: 2px solid #eee;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.footer {
  padding: 1rem 0px;
  background-color: #f7f8fa;
  border-top: 1px solid #eee;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__item {
  font-size: 18px;
}

.footer__item .github-link {
  color: #666;
  text-decoration: none;
}

.footer__logo img {
  width: 150px;
}