/* FONT_SIZE */
@mixin font-size($font-size, $font-weight, $line-height: normal, $letter-spacing: normal) {
  font-weight: $font-weight;
  font-size: $font-size / 16 + em;

  // font-size: $font-size * 0.1rem;
  // example using rem values and 62.5% font-size so 1rem = 10px

  @if $line-height == normal {
    line-height: normal;
  } @else {
    line-height: $line-height;
  }

  @if $letter-spacing == normal {
    letter-spacing: normal;
  } @else {
    letter-spacing: #{$letter-spacing}em;
  }
}

/* PX TO EM PADDINGS */
@mixin padding-em($top, $right, $bottom, $left) {
  padding: $top / 16 + em $right / 16 + em $bottom / 16 + em $left / 16 + em;
}

@mixin padding-rem($top, $right, $bottom, $left) {
  padding: ($top / 16) + rem ($right / 16) + rem ($bottom / 16) + rem ($left / 16) + rem;
}

/* MEDIA */
$phone: 480;
$tablet: 768;
$large: 1024;
$desktop: 1280;

@mixin phone {
  @media only screen and (max-width: ($phone * 1px)) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: ($tablet * 1px)) {
    @content;
  }
}

@mixin large {
  @media only screen and (max-width: ($large * 1px)) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (max-width: ($desktop * 1px)) {
    @content;
  }
}
